/*
 * @file Typography Styles
 * ------------------------------------------------------------------------------- */

 /* --- Content Elements --------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	font-weight: normal;
	margin: 0 0 .5em 0;
}

h1,
h1 a {
	@include rem(font-size, 2.6);
	&.site-title {
		a {

		}
	}
	&.entry-title {
		a {

		}
	}
	&.widget-title {

	}
}

h2 {
	@include rem(font-size, 2.4);
	&.comments-title {

	}
}

h3 {
	@include rem(font-size, 2.2);
	&.reply-title {

	}
}

h4 {
	@include rem(font-size, 2);
}

h5 {
	@include rem(font-size, 1.8);
}

h6 {
	@include rem(font-size, 1.6);
}

p {
	line-height: 1.25em;
	margin: 0 0 1em 0;
	.entry-summary & {

	}
	.entry-content & {

	}
}

ul, ol {
	li {
		a {

		}
	}
}

a { }

a:visited { }

a:hover { }

a:active { }

div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp, u,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	@include rem(font-size, 1.4);
}

/* --- Text Elements ------------------------------------------------------------- */

b,
strong {
	font-weight: bold;
}

em,
i {
	font-style: italic;
}

/* --- Media Elements ------------------------------------------------------------ */

img,
embed,
object,
video {
	max-width: 100%;
	height: auto;
}

/* --- Screen Readers ------------------------------------------------------------ */
.screen-reader-text {
	@include screen-reader-text();
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	@include screen-reader-text-action();
}