<div ng-controller="PostTypesCtrl as post_types">
	<div class="question">
		<label>Will you need a custom post type for this theme?</label>
		<div class="radio">
			<input id="cpt-yes" type="radio" name="custom_post_types" value="yes" ng-model="any_post_type">Yes
			<input type="radio" name="custom_post_types" value="no" ng-model="any_post_type">No
		</div>
	</div>

	<div id="cpt-number-wrapper" class="question cpt-number" ng-class="any_post_type">
		<label>How many Custom Post Types do you need?</label>
		<div class="radio">
			<input id="cpt-number" class="name plain buffer" ng-class="post_types.parsley_error" type="text" name="cpt_number" ng-model="post_types.amount" ng-change="post_types.update_amount()">
		</div>
		<ul class="parsley-errors-list filled post-type-error" ng-class="post_types.parsley_error">
			<li class="parsley-required">The max number of custom post types is 15</li>
		</ul>
	</div>


	<div id="cpt-name-wrapper" ng-repeat="post_type in post_types.number track by $index">
		<div class="question">
			<label>What is the CPT name?</label>
			<input required class="name plain buffer" type="text" name="cpt_name_{{$index+1}}" data-parsley-required="true">
		</div>
	</div>
</div>



<!--
 required  data-parsley-required="true" ng-model="post-type-number" data-parsley-type="number" -->