<%= erb :header %>

<main role="main" class="error-page">
	<h1>Durr...</h1>
	<h5>There was an error. An email has been sent to the site owner to make sure he fixes the bug.</h5>
	<img class="error-image" src="img/error.svg" width="300" height="324">
</main><!-- main -->

<%= erb :footer %>