<footer role="contentinfo">
	<div class="row">
		<div class="row-content buffer clear-after">
			<p class="keep-center">Uses the <a href="https://github.com/oomphinc/braces-theme-generator">Braces</a> base theme</p>
		</div>
	</div>
</footer>
<script src="js/compiled/footer.js"></script>
</body>

</html>
