<footer role="contentinfo">
	<div class="row">
		<div class="row-content buffer clear-after">
			<section id="top-footer">
				<div class="widget column three"><!-- la class="widget" è forse generata utomaticamente da wp -->
					<h4>Menu</h4>
					<ul class="plain">
						<li><a href="home-01.html">Home</a></li>
						<li><a href="works-3-columns.html">Portfolio</a></li>
						<li><a href="blog-4-columns-masonry.html">Blog</a></li>
						<li><a href="resume.html">Resume</a></li>
						<li><a href="file:///Users/pasqualevitiello/My%20Folder/Job/Envato/PR%20Themeforest/Flattie/Markup/Beetle/contact.html">Contact</a></li>
					</ul>
				</div>
				<div class="widget column three">
					<h4>Archives</h4>
					<ul class="plain">
						<li><a href="#">March 2014</a></li>
						<li><a href="#">April 2014</a></li>
						<li><a href="#">May 2014</a></li>
						<li><a href="#">June 2014</a></li>
						<li><a href="#">July 2014</a></li>
					</ul>
				</div>
				<div class="widget column three">
					<h4>Widget</h4>
					<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
				</div>
				<div class="widget meta-social column three">
					<h4>Follow Us</h4>
					<ul class="inline">
						<li><a href="#" class="twitter-share border-box"><i class="fa fa-twitter fa-lg"></i></a></li>
						<li><a href="#" class="facebook-share border-box"><i class="fa fa-facebook fa-lg"></i></a></li>
						<li><a href="#" class="pinterest-share border-box"><i class="fa fa-pinterest fa-lg"></i></a></li>
					</ul>
				</div>
			</section><!-- top-footer -->
			<section id="bottom-footer">
				<p class="keep-left">&copy; 2014 <a href="http://mokaine.com/" alt="Mokaine Lab">Mokaine</a>. All Rights Reserved.</p>
				<p class="keep-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
			</section><!-- bottom-footer -->
		</div><!-- row-content -->
	</div><!-- row -->
</footer>

<script src="js/compiled/footer.js"></script>

<script>
	var validator = new FormValidator('example_form', [{
	    name: 'theme_name',
	    display: 'required',
	    rules: 'required'
	}], function(errors, event) {
	    if (errors.length > 0) {
	        // Show the errors
	    }
	});
</script>

</body>

</html>
