<footer role="contentinfo">
	<div class="row">
		<div class="row-content buffer clear-after">
			<p class="keep-center">Uses the <a href="https://github.com/oomphinc/braces-theme-generator">Braces</a> base theme</p>
		</div>
	</div>
</footer>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="js/plugins.js"></script>
<script src="js/beetle.js"></script>
<script src="js/form.js"></script>
<script src="js/parsley.js"></script>
</body>

</html>
