<section class="row section form-area greyish" ng-app="wp-braces">
	<div class="row-content ">
		<div class="section-title"><h2>Build Theme</h2></div>
		<div class="column full">
			<form  id="braces-form" name="example_form" class="build-form contact-section" method="post" action="/basetheme" data-validate="parsley">

				<div class="question">
					<label>What is your themes name?</label>
					<input class="name plain buffer" type="text" name="theme_name" data-parsley-required="true">
				</div>

				<div class="question">
					<label>What is the theme author name?</label>
					<input required class="name plain buffer" type="text" name="author_name" data-parsley-required="true">
				</div>

				<div class="question">
					<label>What is the theme authors URL?</label>
					<input required class="name plain buffer" type="text" name="author_url" data-parsley-required="true" data-parsley-type="url">
				</div>

				<input id="send" class="plain button red" type="submit" value="Download Now" onclick="javascript:$('#braces-form').parsley( 'validate' );">

			</form>
			<div id="success"></div>
		</div>
	</div>
</section>