<%= erb :header %>

<main role="main">
	<div id="intro-wrap">
		<div id="intro" class="preload darken" data-autoplay="5000" data-navigation="true" data-pagination="true" data-transition="fadeUp">
			<div class="intro-item" style="background-image: url('img/background.svg');">
				<div class="caption">
					<h2>WP Braces</h2>
					<p>WordPress Dynamic Base Theme</p>
				</div><!-- caption -->
			</div>
		</div><!-- intro -->
	</div><!-- intro-wrap -->

	<div id="main">

		<section class="row section call-to-action">
			<div class="row-content buffer even">
				<p>Braces is dynamic starter theme and is a fork of <a href="http://underscores.me">Underscores</a>. Just like Underscores it is meant for hacking and should not be child themed. It is meant to take care of some of the boring theme setup so you can concentrate on the fun parts.</p>
			</div>
		</section>

		<%= erb :form %>

	</div><!-- id-main -->
</main><!-- main -->

<%= erb :footer %>