<%= erb :header %>

<main role="main">
	<div id="intro-wrap">
		<div id="intro" class="preload darken" data-autoplay="5000" data-navigation="true" data-pagination="true" data-transition="fadeUp">					
			<div class="intro-item" style="background-image: url('img/background.svg');">
				<div class="caption">
					<h2>WP Braces</h2>
					<p>WordPress Dynamic Base Theme</p>
					<a class="button white transparent" href="#">Read More</a>
				</div><!-- caption -->
			</div>																							
		</div><!-- intro -->
	</div><!-- intro-wrap -->

	<div id="main">
		
		<section class="row section call-to-action">
			<div class="row-content buffer even">
				<p>Braces is dynamic starter theme and is a fork of <a href="http://underscores.me">Underscores</a>. Just like Underscores it is meant for hacking and should not be child themed. It is meant to take care of some of the boring theme setup so you can concentrate on the fun parts.</p>
			</div>
		</section>

		<section class="row section">
			<div class="row-content buffer even clear-after">
				<div class="section-title"><h3>What makes us different</h3></div>
				<div class="column four">
					<div class="braces-icon difference-icons"></div>
					<div class="small-icon-text clear-after">
						<h4>No endif or endwhile</h4>
						<p class="text-xs">One of the big differences of Braces is that it does not use the alternate syntax for control structures. This is where it got it's name.</p>
					</div>
				</div>
				<div class="column four">
					<div class="tools-icon difference-icons"></div>
					<div class="small-icon-text clear-after">
						<h4>Custom</h4>
						<p class="text-xs">The best part about Braces is you can talor it to your needs. It can come configured with SASS or witout SASS. You make the decisions not the base theme.</p>
					</div>
				</div>
				<div class="column four last">
					<div class="needle-icon difference-icons"></div>
					<div class="small-icon-text clear-after">
						<h4>Resume</h4>
						<p class="text-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
				<div class="column four">
					<div class="paste-icon difference-icons"></div>
					<div class="small-icon-text clear-after">
						<h4>Responsive</h4>
						<p class="text-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
				<div class="column four">
					<div class="drill-icon difference-icons"></div>
					<div class="small-icon-text clear-after">
						<h4>Blog</h4>
						<p class="text-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
				<div class="column four last">
					<div class="floss-icon difference-icons"></div>
					<div class="small-icon-text clear-after">
						<h4>Layer CSS</h4>
						<p class="text-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
			</div>
		</section>	

		<section class="row section text-light" style="background-color:#4FC1E9;">
			<div class="row-content buffer even clear-after">
				<div class="testimonial-slider centertxt" data-autoplay="5000" data-pagination="true" data-transition="fade" data-autoheight="false">
					<div class="quote">
						<p>"It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout."</p>
						<div class="author">John Lennon</div>
					</div><!-- quote -->
					<div class="quote">
						<p>"Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'.."</p>
						<div class="author">Fabrizio De Andr&egrave;</div>
					</div><!-- quote -->		
					<div class="quote">
						<p>"There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration."</p>
						<div class="author">B.B. King</div>
					</div><!-- quote -->							
				</div><!-- testimonial-slider -->				
			</div>
		</section>			

		<%= erb :form %>

		<section class="row section">
			<div class="row-content buffer even clear-after">

					<div class="count-item downloads">
						<div class="download-icon"></div>
						<div class="count-number" data-from="0" data-to="326" data-speed="2000" data-refresh-interval="25"></div>
						<div class="count-subject">Downloads so far</div>
					</div><!-- count-item -->
				
			</div>	
		</section>							

	</div><!-- id-main -->
</main><!-- main -->

<%= erb :footer %>